<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<script type="text/javascript" th:src="@{/js/jquery-3.6.0.min.js}" ></script>
<script type="text/javascript" th:src="@{/js/common_js.js}" ></script>
<!-- <script type="text/javascript" th:src="@{/js/element.js}"></script>
<link th:href="@{/css/main.css}" rel="stylesheet" /> -->
<title>Login</title>
</head>
<body>
<form>
<input type ="text"  id = "user_id" name = "user_id">
<input type ="password"  id = "user_pwd" name = "user_pwd">
<input type = "submit" id = "login_submit">
</form>
</body>
</html>